body {
  width: 1000px;
  margin: 0px auto;
}
h1 {
  font-family: 'Faster One', cursive;
  margin: 0px 0px 0px 20px;
  font-size: 5em;
  color: black;
  text-transform: uppercase;
  padding: 10px;
}
section, article {
  width: 100%;
  background-color: whitesmoke;
  color:black;
  margin: 0px 20px 30px 20px;
  padding: 10px;
}

img, figcaption {
  margin: 2px 0px 0px 0px;
  padding: 1px;
}

main> div {
  margin: 0px 20px 20px 20px;
}

section, article {
  display: inline-block;
  margin: 0px 30px 30px 30px;
}
main img, figcaption{
  float:left;
  width: 300px;
  height: 300px;
  margin-left: 35px;
}
figcaption {
  font-family: fantasy;
  font-size: 1em;
  height: 50px;
  text-align: center;
  padding: 1px;
}
#imgOne, #figOne {
  margin-left:10px;
}
#imgThree, #figThree {
  margin-right:10px;
}

p, p+ul {
  font-family: 'Julee', cursive;
  font-size: 23px;
  margin-top: 5px;
  margin-left: 10px;
  padding: 10px;
}

footer {
  width: 100%;
  height: 170px;
  background-color: whitesmoke;
  color:black;
  margin: 0px 0px 30px 30px;
  padding: 10px;
  word-wrap: normal;
}
footer p {
  font-size: 30px;
}
